# Configuration file for Quiz

## Warning Cannot have = "" - don't know why but need at least one char

our $version = "0.3.2";

# quiz config file - 1st section generic then a section per quiz

################################
# Essential Information
our $dbname="DBI:mysql:quiz:localhost";
our $dbuser="quiz";
our $dbpass="passwordfordatabase";
our $dbtable="quiz";
our $dbsessiontable="quiz_session";
our $dbactivetable="quiz_active";
our $dbsettingsnumtable="quiz_settings_num";

# User and password for administrator to update quiz through web interface
our $adminuser="admin";
our $adminpass="adminpassword";
# optional (default to 4hours) - set as minutes
our $adminsessiontimeout = 240;

# These have default values
our $sessionexpiry = 14400;
our $sessionsbeforecleanup = 100;

# Log files
our $loginlogfile = "/var/quiz/login.log";
our $scorelogfile = "/var/quiz/score.log";
our $errorlogfile = "/var/quiz/error.log";


# If you want to allow offline quiz to be used
# Whether offline quiz is allowed or not
# 1 = allowed, 0= not allowed
our $offlinequiz = 1;

# Count number of times used (part of unique session ID creation for offline only)
our $offlinecountfile = "/var/quiz/offline.qcf";

## Administrator details - these are used by the automation
# Do we email error messages (0 to 5), 0 = never email, 1 = critical only, 3 = major, 4 = warnings, 5 = debug
# 4 should be the normal level
our $emailerror=4;
our $smtpserver = 'localhost';
# Mail server domain name
our $hellostring = 'domainname.com';
# Set to a user to receive emails
our $adminemail='root@localhost';
# From email
our $fromemail = 'error_message@localhost'; 


## ActiveSecurity
# Added in Version 0.2.4 for Anti-DOS
# Enable by setting status to 1, Disable by setting status to 0
$activesecstatus = 0;
$seccache = '/var/quiz/activesec.cache';
$seclogfile = '/var/quiz/activesec.log';
$denyfile = '/var/quiz/block.qal';


# If header and footer includes are required uncomment the following
#our $headerfile = "";
#our $footerfile = "";


################################
# Formatting Options

# Number of cols in check/results table
our $answercols = 3;


# Support for multiple style sheets - this feature may not be required
# Allowed CSS - first is default - seperate allowed and files to allow links to remote CSS etc.
our @csscategories = ("default", "alt");
our %cssfile = ("default" => "http://www.website.domain.com/default.css", "alt" => "http://www.website.domain.com/alternate.css");
# cssextra - allows insertion into html - e.g. allowing user to change css
our %cssextra = (
	"default" => "",
	"alt" => ""
	);
# Allows for alternate links back to main page
our %cssindex = (
	"default" => "index.html",
	"alt" => "index.html"
	);


# Added in Version 0.2.5 to exclude bots from the error messages
# Any listed will get a generic error message (instead of actual error)
# and will be provided with a link to the home page
# Errors will not send emails and will not be logged
# Use IP addresses (NOT hostnames / bot names)
our @ignoreboterrors = ('127.0.0.1', '192.168.1.0');



################################
# QuizSpecific
# Items specific to each quiz - must populate all fields and keep in line with category
# If not in category then quiz will not be used (can use to temporarily disable a quiz)
# The reason for having a seperate category (not just use keys) is so that we can have sort them in the order we want

our @category=("quiz1", "quiz2", "all");
# Allowed category, must have all from @category, but can also have additional entries for quizes that are disabled or for future use.
our @allowedcategory=("quiz1", "quiz2", "all");
#Title of quiz
our %quiznames = ("quiz1" => "Name of First Quiz", "quiz2" => "Name of Second Quiz", "quiz3" => "3rd quiz - note need to add to category before this will be visible", "all" => "All Categories");
our %numquestions = ("quiz1" => 25, "quiz2" => 15, "quiz3" => 10, "all" => 25);
our %quizintro = (
	"quiz1" => "Text / html to state what quiz is about",
	"medgas" => "Text / html to state what quiz 2 is about",
	"all" => "A selection of questions picked from all the different quizzes. This may include some questions from a quiz that has not yet been fully implemented."
	);



