
div#adminheader {
	height: 180px;
	width: 700px;
	background-image: url(/wquiz/admin/adminheaderlogo.png);
}

#adminmain a {
	text-decoration: none;
}

#adminmain a:hover {
	text-decoration: underline;
}

div#adminfooter {
	position: relative;
	top: 40px;
}

#adminfooter a {
	text-decoration: none;
}

#adminfooter a:hover {
	text-decoration: underline;
}

p.createdby {
	float: left;
	margin-top: 10px;
	text-decoration: none;
}


