<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>wQuiz - Quiz Administration</title>
	<link href="/wquiz/admin/admin.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="adminheader">
</div>

<div id="buttons">
<p><a href="logout.pl"><img src="/wquiz/admin/adminlogout.png" style="border:0px;" alt="Logout" /></a></p>
</div>

<div id="admintitle">
<h1 class="title">Quiz Administration</h1>
</div>

<div id="adminmain">
<h3>Tasks:</h3>
<ul>
<li>Manage Quizzes (Not Available)</li>
<li><a href="listquestions.pl">Manage Questions</a></li>
</ul>
</div>

<div id="adminfooter">
<a href="http://www.penguintutor.com"><img src="/wquiz/admin/admincreatedby.png" style="float:left; border:0px; margin-top:0px; margin-right:10px;" alt="PenguinTutor.com" /></a>
<p class="createdby">
<a href="http://www.penguintutor.com/">Web Perl Quiz created by Stewart Watkiss<br />Available from PenguinTutor.com</a>.
</p>
</div>

</body>
</html>
