<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Quiz Administration Tool - Edit Question</title>
	
</head>

<body>


<h1 class="title">Quiz Administration - Edit Question</h1>

Do NOT use apostrophes etc, instead use their html equivelant.<br />
(e.g. &amp;quot; = &quot;  &amp;amp;=&amp;)  

<div>
%%editinfo%%
</div>


<div>
<p>
<a href="http://www.watkissonline.co.uk/web.html">Quiz is available to download under the GPL from watkissonline.co.uk</a>.
</p>
</div>
</body>
</html>
