
#wquiz-quizmenu legend
{
	font-size: 14pt; 
 	font-family:sans-serif; 
 	font-style:normal;
	margin: 2px;
	color: #fff;
	background: #097339;
	border: 1px solid #781351;
	padding: 2px 6px;
}

#wquiz-quizmenu fieldset
{
	border: 1px solid #781351;
	background-color: rgb(156, 199, 176);
}

#wquiz-quizmenu p
{
	margin: 0px;

}


#wquiz-questionintro div
{
	margin-left: 30px;
	margin-right: 20px;
}


img.wquiz-questionimage
{
 		 float: right;
		 padding: 10px;
		 margin: 20px;
}


p.wquiz-questionmessage
{
	color: red;
}


/* re-order the button positions to allow enter to see next button */
#wquiz-navsubmit-first
{
	float:left;
}

#wquiz-navsubmit-previous
{
	float:left;
}


#wquiz-footer
{
	margin-top: 60px;
}


#wquiz-adminfooter
{
	margin-top: 60px;
}


p.wquiz-createdby
{
	font-size: small;
}

p.wquiz-createdby a 
{
	text-decoration: none;
}

div#wquizheader {
	height: 180px;
	width: 700px;
	background-image: url(/wquiz/headerlogo.png);
}

#wquizmain a {
	text-decoration: none;
}

#wquizmain a:hover {
	text-decoration: underline;
}


.checkcolumn
{
	float: left;
	margin-left: 20px;
}

.answered {
	color: green;
}

.correct {
	color: green;
}

.reviewcorrect {
	color: green;
}

.notanswered {
	color: red;
}

.reviewnotanswered {
	color: red;
}

.wrong {
	color: red;
}

.wrongnotanswered {
	color: black;
}

.reviewwrong {
	color: red;
}

.clearboth {
	clear: both;
}


div#wquizfooter {
	position: relative;
	top: 40px;
}

#wquizfooter a {
	text-decoration: none;
}

#wquizfooter a:hover {
	text-decoration: underline;
}

p.createdby {
	float: left;
	margin-top: 10px;
	text-decoration: none;
}


/* Admin pages */
#wquiz-admin-menu {
	
}

#wquiz-admin-menu a {
	padding: 5px;
	background: #b7c5f4;
	text-decoration: none;	
	font-family: sans-serif;
	color: white;
}

#wquiz-admin-main {
	
}

#wquiz-admin-main a {
	text-decoration: none;
	color: blue;
}

table.wquiz-admin-table {
	margin-top: 20px;
}

table.wquiz-admin-table td {
	padding-left: 5px;
	padding-right: 5px;
}

table.wquiz-admin-table th {
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

p.wquiz-admin-edit-message {
	font-weight: bold;
	
}

span.wquiz-offline-question-answer {
	text-decoration: underline;
}


