<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>wQuiz</title>
	<link href="/wquiz/wquiz.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wquizheader">
</div>

<div id="wquiztitle">
<h1>%%quizname%%</h1>
</div>

<div id="wquizmain">
<p>
Check results for: %%username%%
</p>
<p>
Please click on any of the questions to review your answer. Once you are happy with all your answers
click on the mark button to get you results.
</p>
%%checks%%
<br class="clearboth" />
<p>
<a href="score.pl?%%urlstring%%">Mark Answers</a>
<a href="help.pl?section=check%%urlextra%%" target="_blank"> Help </a>
</p>
</div>

<div id="wquizfooter">
<a href="http://www.penguintutor.com"><img src="/wquiz/createdby.png" style="float:left; border:0px; margin-top:0px; margin-right:10px;" alt="PenguinTutor.com" /></a>
<p class="wquizcreatedby">
<a href="http://www.penguintutor.com/">Web Perl Quiz created by Stewart Watkiss<br />Available from PenguinTutor.com</a>.
</p>
</div>

</body>
</html>