<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Quiz</title>
</head>

<body>

<h1>%%quizname%%</h1>

<p>
Results for: %%username%%
</p>
<p>
You answered %%score%% correctly out of %%numquestions%%, a total of %%percentage%% %
</p>
<p>
Please click on any of the questions to review the correct answer. 
</p>
<p>
%%answers%%
<br class="clearall" />
<p>
As the quiz is created from a random selection of questions feel free to try again on another occassion.
</p>
<p>
<a href="help.pl?section=score%%urlextra%%" target="_blank"> Help </a>
</p>


<p>&nbsp;</p>
<p>
<a href="http://www.watkissonline.co.uk">Powered by Web Quiz</a>.
</p>

</body>
</html>