<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Quiz</title>
</head>

<body>

<h1>%%quizname%%</h1>

<p>
Check results for: %%username%%
</p>
<p>
Please click on any of the questions to review your answer. Once you are happy with all your answers
click on the mark button to get you results.
</p>
%%checks%%
<br class="clearall" />
<p>
<a href="score.pl?%%urlstring%%">Mark Answers</a>
<a href="help.pl?section=check%%urlextra%%" target="_blank"> Help </a>
</p>
<br class="clearall" />
<p>&nbsp;</p>
<p>
<a href="http://www.watkissonline.co.uk">Powered by Web Quiz</a>.
</p>
</body>
</html>