<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>wQuiz Index Page</title>
	<link href="/wquiz/wquiz.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wquizheader">
</div>

<div id="wquiztitle">
<h1>Quiz</h1>
</div>

<div id="wquizmain">
<form method="post" action="details.pl">
<input type="hidden" name="style" value="%%cssurl%%">
<p><label for="name">Please enter your name:</label>
<input type="text" id="name" name="name" /></p>
<p><label for="quiz">Please select a quiz:</label>
<select id="quiz" name="quiz">%%quiznames%%</select></p>
<p><input type="submit" value=" Go " /></p>
</form>
</div>

<div id="wquizfooter">
<a href="http://www.penguintutor.com"><img src="/wquiz/createdby.png" style="float:left; border:0px; margin-top:0px; margin-right:10px;" alt="PenguinTutor.com" /></a>
<p class="wquizcreatedby">
<a href="http://www.penguintutor.com/">Web Perl Quiz created by Stewart Watkiss<br />Available from PenguinTutor.com</a>.
</p>
</div>

</body>
</html>
