<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>wQuiz Offline Version</title>
	<link href="/wquiz/wquiz.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wquizheader">
</div>

<div id="wquiztitle">
<h1>%%quizname%%</h1>
</div>

<div id="wquizmain">
<h2>Offline Quiz Questions - %%serial%% </h2>

%%questions%%
<p>&nbsp;</p>
<hr>

<p>
<a href="offlineanswers.pl?%%urlstring%%"><img src="/wquiz/answersbutton.png" alt="Answers" style="border:0px; margin:5px" /></a>
</p>


<div id="wquizfooter">
<a href="http://www.penguintutor.com"><img src="/wquiz/createdby.png" style="float:left; border:0px; margin-top:0px; margin-right:10px;" alt="PenguinTutor.com" /></a>
<p class="wquizcreatedby">
<a href="http://www.penguintutor.com/">Web Perl Quiz created by Stewart Watkiss<br />Available from PenguinTutor.com</a>.
</p>
</div>

</body>
</html>