<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Quiz Administration - Questions</title>
	
</head>

<body>

<h1 class="title">Quiz Administration - Manage Questions</h1>

<div>
<p>
<a href="add.pl">Add a new question</a>  <!--<a href="managequiz.pl">Manage Quizzes</a>-->
</p>
</div>

<div>

<table>
<tr><th>Question<br />(Test)</th><th>Summary<br />(Edit)</th><th>Type</th><th>Quiz</th><th>Created</th><th>Last Reviewed</th></tr>
%%questionlist%%
</table>
</div>

<div>
<p>
<a href="http://www.watkissonline.co.uk/web.html">Web perl quiz coded by Stewart Watkiss: watkissonline.co.uk</a>.
</p>
</div>
</body>
</html>
